.product-list{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.product-list article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-list article p {
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

.product-list article a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #2a2353;
    background: none;
    margin-top: 10px;
    color: #2a2353;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.product-list article a:hover{
    background-color: #2a2353;
    color: #fff
}

.product-list .action {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
    margin-top: 20px;

}

.product-list .action a {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #2a2353;
    background: none;
    margin-top: 10px;
    color: #31295e;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    cursor: pointer;
    
}

.product-list .action a:hover{
    background-color: #2a2353;
    color: #fff
}
